.recorder-module {
    padding: 20px;
}

.recorder-header {
    text-align: center;
    color: #cacbc7;
    font-size: 1.5em;
}

.control-button {
    cursor: pointer; 
    transition-duration: 0.5s;
    padding: .25em 1em;
    margin: 0px 10px;
}

.control-button:hover {
    background: #4a4a4a;
    color: white;
}

.recorder-buttons {
    padding: 10px;
}

.save-file-wrapper {
    padding: 10px;
}

.dialog-body {
    height: 50px;
    text-align: center;
}

.error-input {
    border-color: #e9400c !important;
    color: #ec440c !important;
}

.error-message {
    color: #ec440c;
}