.header {
    top: 0;
    background-color: #232323;
    color: #cacbc7;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    -webkit-user-drag: none;
    user-select: none;
}

.header-text {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
}

.menu-button {
    box-shadow: 5px;
}

.logo-center {
    display: inline-flex;
}