.growl-wrapper-positive {
    position: absolute;
    z-index: 2000;
    height: 70px;
    width: 250px;
    top: 20px;
    right: 20px;
    text-align: center;
    background-color: #9fda58;
    border-radius: 5px;
    border: 2px solid #2c9b5c;
}

.growl-wrapper-negative {
    position: absolute;
    z-index: 2000;
    height: 70px;
    width: 250px;
    top: 20px;
    right: 20px;
    text-align: center;
    background-color: #c9260d;
    border-radius: 5px;
    border: 2px solid #a02535;
}

.growl-head {
    padding: 5px 0px;
    font-size: 1.5em;
}