.player-module {
    min-height: 100px;
    display: flex;
}

input[type="file"] {
    display: none;
}

.file-upload { 
    display: inline-block;
    border: 1px solid #4a4a4a;
    transition-duration: 0.5s;
    border-radius: 8px;
    padding: 6px 10px; 
    color: #b8ec79;
    background: #0a0a0a;
    cursor: pointer; 
    text-align: center; 
}

.file-upload:hover {
    background: #4a4a4a;
    color: white;
}

.upload-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 50%;
}

.player-header {
    color: #cacbc7;
    padding-top: 20px;
    padding-bottom: 10px; 
    font-size: 20px;
}

.player-control-buttons {
    text-align: center;
}

.control-button {
    height: 50px;
    margin: 0px 10px;
}