.player-module {
    min-height: 200px;
}

input[type="file"] {
    display: none;
}

.file-upload { 
    display: inline-block;
    border: 0.25px solid grey;
    border-radius: 8px;
    padding: 10px 10px; 
    color: greenyellow;
    background: black;
    cursor: pointer; 
    text-align: center; 
}