.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-wrapper {
    height: 100%;
    display: flex;
}

.left-menu {
    flex-basis: 20%;
    height: 100%;
    background: #140603;
    
}

.sidebar-context {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.show-sidebar-button {
    position: absolute;
    cursor: pointer; 
    transition-duration: 0.5s;
    padding: .25em 1em;
    margin: 0px 10px;
    top: 50%;
    right: 0;
}