.recorder-module {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recorder-header {
    color: #cacbc7;
    background-color: #232323;
    margin-top: 20px;
    padding: 10px;   
    font-size: 20px;
}

.recorder-button {
    height: 50px;
    margin: 0px 10px;
}

.recorder-buttons {
    margin: 10px 0;
}

.save-file-wrapper {
    margin-bottom: 10px;
}

.save-file-input {
    height: 35px;
}